body {
  background-color: #2d2d2d;
}

.mainBanner {
  height: 100vh;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0
}

p,h1,h2,h3,h4,h5,h6 {
  color: #ffffff
}
