/* navbar */
#navBar .navbar-light .navbar-toggler {
    border-color: rgba(0, 0, 0, 0);
}

#navBar .navbar-light {
    background-color: rgba(0,0,0,0)!important;
    color: #fff;
    transition: .5s
}

#navBar .navbar-light a.nav-link, #navBar .navbar-light a.navbar-brand {
    color: #fff;
}

#navBar .navbar-light.navScrolled {
    background-color: #000!important;
    color: #fff;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("./img/toggler.svg");
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

/* banner section */
.mainBanner {
    background: url("./img/banner.jpg") center center;
    background-size: cover;
    height: calc(100vh);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainBanner h1 {
    text-align: center;
    color: #fff;
    z-index: 1;
    /* font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; */
}

/* profile section */

.profilePic {
    border-radius: 50%;
    width: 60%;
}

.skillTag {
    background-color: #000;
    color: #fff;
    padding: 5px;
}

/* ExperienceSec */

#experienceSec {
    background: #dedede;
}

img.tcsLogo {
    max-width: 336px;
}

img.avidanLogo {
    max-width: 240px;
}

.learnMoreBtn {
    padding: 10px 15px 10px 15px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

.learnMoreBtn:hover {
    background-color: #7d7d7d;
}

a.learnMoreBtn:hover {
    color: #fff;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {
    max-width: 128px;
}

/* Footer */
footer {
    background-color: #000;
    height: 150px;
    display: flex;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin-bottom: 0;
    color: #fff;
}


@media (min-width: 768px) {
    .profilePic {
        width: 70%;
    }
}